body {
  background: #F5F5F3;
}

#header-container {
  position: absolute;
  top: 5%;
  right: 7%;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: #895737;
  text-align: right;
}

#welcome-container {
  position: absolute;
  width: 350px;
  top: 35%;
  left: 15%;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  color: #3F784C;
}

.text{
  margin-bottom: 20px;
}
