body {
  background: #F5F5F3;
}

#header-container {
  position: absolute;
  top: 3%;
  right: 8%;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: #4B5842
}

#welcome-container {
  position: absolute;
  width: 350px;
  top: 35%;
  left: 15%;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}

.text{
  margin-bottom: 20px;
}
